.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
height: auto;
background-color: white;
align-items: center;
min-width: 300px;
}


.bancoinforow{
display: flex;
flex-direction: row;
background-color: white;
width: 80%;
margin-top: 5%;
align-items: center;
justify-content: space-around;
justify-items: self-end;
align-content: space-around;

}

.creditcardlogos{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 50%;
background-color: transparent;
margin: 15px 15px 15px 40px
}

.creditcardlogos img{
max-width: 100px;
height: auto;
object-fit: scale-down;

padding: 15px;

}

.epaycobox{
display: flex;
flex-direction: row;
width: 80%;
background-color: rgb(231, 238, 241);
border-radius: 15px;
margin-top: 3%;
margin-bottom: 3%;
}


.nequinfo{
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
}
.nequimagenes {
display: flex;
flex-direction: row;
width: 30px;
align-items:flex-end;
object-fit: scale-down;
width: 70%;

}

.nequimagenes img{
    object-fit: scale-down;
    width: 120px;
}

.addressBox p{
width: 90%;

}


@media only screen and (min-width: 300px) and (max-width: 840px) 
{
    .bancoinforow{
        display: flex;
        flex-direction:column;
        background-color: white;
        width: 100%;
        margin-top: 5%;
        align-items: center;
        justify-content: space-around;
        justify-items: self-end;
        align-content: space-around;
        height: auto;
        
        }
        .epaycobox{
            display: flex;
            flex-direction: column;
            width: 80%;
            background-color: rgb(231, 238, 241);
            border-radius: 15px;
            margin-top: 3%;
            margin-bottom: 3%;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            padding-bottom: 30px;
            }
            .creditcardlogos{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 90%;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                margin: 15px 15px 15px 40px;
                
                }
                .bancolombiainfo {
                 margin-top: 5%;
                 width: 50%;
                 height: auto;
                

                }
                .bancolombiainfo img {
                    width: 100%;
                    height: auto;
                    
   
                   }
                .nequinfo{
                    margin-top: 50px;
                    }
                    .nequimagenes {
                        display: flex;
                        flex-direction: row;
                        width: 30px;
                        align-items:flex-end;
                        object-fit: scale-down;
                        width: 70%;
                        
                        }
                        
                        .nequimagenes img{
                            object-fit: scale-down;
                            width: 100px;
                        }
                        

}